dist/
*hat*.egg-info/
ut_result/
cov_result/
*/**/__pycache__
*/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/*~
*~
.idea/*
.coverage*
.hat_logs
htmlcov
.*.swp
*.so*
*.dylib*
*/*.so*
*/*.dylib*
*.swp
*.swo
gen.yml
.mypy_cache
.vscode
tmp_*
.tmp_*
.ipynb_checkpoint/*

# big files
**/*.npy
**/*.pth.tar
**/*.pkl
**/*.xml
**/*.pt
**/*.hbir
**/*.dot
**/*.json
**/*.hbm
**/*.log
**/*.tar
**/*.tar.gz
**/*.tgz
**/*.zip
**/*.bin
**/*.png
**/*.jpg
**/*.jpeg
**/*.bmp
**/*.pth
**/*.rec
**/*.lmdb
**/*.params


# submit
plugins/k8s_submit/*.yaml

# git mergetool
*.orig

# docs
docs/_build
!docs/Makefile
!docs/source/_static/*.png
